#recipe-name {
    font-size: large;
    font-weight: bold;

}
.recipeImg {
    width: 100%;
    border-radius: 20px;
}

.Time {
    font-size: medium;
    font-weight: bold;
}
.topBar {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 4%;
    padding-top: 2%;
}
.Time {
    text-align: center;
}

.sectionTitle {
    text-align: center;
}