
#recipe-name {
    font-size: large;
    font-weight: bold;
    padding-left: 3%;
    padding-right: 3%;
}
#author-name {
    padding-left: 3%;
    padding-right: 3%;
}
.recipeImg {
    width: 100%;
    border-radius: 20px;
}
#CTlogo {
   max-width: fit-content;
   max-height: fit-content;
}
.Time {
    font-size: medium;
    font-weight: bold;
    text-align: center;
}
.topBar {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 4%;
    padding-top: 2%;
}
.sectionTitle {
    text-align: center;
    font-weight: bold;
    background: linear-gradient(
    45deg,
    rgba(17, 169, 255) 0%,
    rgba(3, 241, 204) 100%);
    border-radius: 20px;
}
.list {
    font-weight: 450;
}
.review {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 4%;
    padding-top: 2%;
}
.user {
    padding-left: 7%;
    padding-right: 3%;
}
.user-rating {
    padding-left: 7%;
    padding-right: 3%;
}
.review-text {
    padding-left: 5%;
    padding-right: 3%;
}
.stars {
    text-align: center;
    color: rgb(12, 165, 157);
}
#star1, #star2, #star3 {
    color: rgb(12, 165, 157);
}
