.searches-heading, .viewed-heading {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 10px 0 10px;
}

ul li {
    list-style-type: none
}

.clear-btn {
    background-color: white;
    border: none;
    max-height: 30px;
}

.clear-btn span {
    background: var(--blue-gradient-light);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.recent-search-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-width: 2px;
    border-style: none none solid none;
    border-image-slice: 1;
    border-image-source: var(--blue-gradient);
    margin: 0 40px 5px 0;
    cursor: pointer;
}

.search-bar {
    display: inline-grid;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: var(--blue-gradient);
    margin: 10px 0 10px 0;
    justify-self: stretch;
}

.search-bar-container, .heading-container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    margin: 0 10px 0 10px;
    align-items: center;
}


.recipe-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 20px 20px 0 20px;
}

.recipe-card img {
    width: 100%
}

.card-container h4 {
    padding: 2px 16px;
    text-align: center;
}

.logo-small {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    background: var(--blue-gradient);
    color: white;
    text-align: center;
    padding: 2px 0;
    margin: 10px 0 10px 0;
}