.content-body {
    display: flex;
    flex-direction: row;
    align-content: center;

}
.page-title {
    display:-webkit-inline-box;
    max-width: fit-content;
    max-height: fit-content;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 600;
    font-size: large;
}

.smallLogo{
    padding-left: 5%;
    padding-right: 7%;  
}
.icon {
    max-width: fit-content;
    max-height: fit-content;
    justify-content:right;
    padding-left: 50%;
}
.recipe-card {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 20px;
    height:fit-content;
    max-width: fit-content;
    margin-top: 2%;
    cursor: pointer;
}
.ratings{
    align-items: baseline;
}