.content-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    color: black;
}
.page-title {
    display:-webkit-inline-box;
    float:none;
    align-items: center;
}
  /* keep icons small */
.icon {
    max-width: min-content;
    max-height: min-content;
}
.topBar {
    /* keep the elements in the top bar separated enough to be clean and readable: */
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
}
.recipe-card {
    /* border radius to make the card look cleaner (curved edges) */
    border-radius: 15%;
    /* Recipe card should be as big as it can be to show all the contents */
    max-width: max-content;
    max-height: max-content;
    background-color: rgb(29, 255, 142);
}
.recipe-photo {
    max-width:min-content;
    max-height: min-content;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 2%
}
 .layout-row {
 max-width:  fit-content;
 max-height: fit-content;
 padding-left: 1%;
 padding-bottom: 5%;
}

.layout-col {
    max-width:  fit-content;
    max-height: fit-content;
   } 