.app {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

.phone {
    width: 390px;
    max-height: 844px;
    padding: 1%;
    height: 844px;
    background-color: white;
}

.scrollbar {
    padding-right: 0%;
}
