.app {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    /*background-color: lightgray;*/
}

.phone {
    width: 390px;
    height: 844px;
    /*background-color: white;*/
}
