.app {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-color: lightgray;
}

.phone {
    width: 390px;
    max-height: 844px;
    overflow-y: scroll;
    height: 844px;
    background-color: white;
}
