body {
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --blue-gradient: linear-gradient(90deg, rgba(9,76,128,0.9672911400888481) 1%, rgba(0,224,255,1) 69%);
    --blue-gradient-light: linear-gradient(90deg, rgba(27,191,210,0.9672911400888481) 1%, rgba(0,224,255,1) 69%);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.recipe_desc_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.heading {
    text-align: center;
    margin: 10px 0 10px 0;
}

.ratio-buttons {
    padding: 10px;
    position: relative;
    margin: 0 50px 0 50px;
}

.ratio-buttons > button {
        display: inline-block;
        width: 70px;
        height: 30px;
        text-align: center;
        border: gray;
        cursor: pointer;
        font-weight: bold;
        margin: 0 10px 0 10px;
}

.search-bar {
    display: inline-grid;
    border: 2px solid;
    border-image-slice: 1;
    /*border-width: 2px;*/
    border-image-source: var(--blue-gradient);
    /*border: 2px solid;
    border-color: linear-gradient(90deg, rgba(9,76,128,0.9672911400888481) 1%, rgba(0,224,255,1) 69%);
    border-radius: 5px;*/
    margin: 10px 0 10px 0;
    justify-self: stretch;
}

.searches-heading, .viewed-heading {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 10px 0 10px;
}

ul li {
    list-style-type: none
}

.recipe-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 20px 20px 0 20px;
}

    .recipe-card img {
        width: 100%
    }
.card-container h4 {
    padding: 2px 16px;
    text-align: center;
}

.clear-btn {
    background-color: white;
    border: none;
    max-height: 30px;
}

    
.clear-btn span {
    /*color: rgb(0,212,255);*/
    background: var(--blue-gradient-light);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-small {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    background: var(--blue-gradient);
    color: white;
    text-align: center;
    padding: 2px 0;
    margin: 10px 0 10px 0;
}

.search-bar-container, .heading-container {
    /* display: flex;
    justify-content: space-between;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 9fr;
    margin: 0 10px 0 10px;
    align-items: center;
}

.recent-search-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-width: 2px;
    border-style: none none solid none;
    border-image-slice: 1;
    border-image-source: var(--blue-gradient);
    margin: 0 40px 5px 0;
    cursor: pointer;
}

.footer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 25px 0 25px;
    margin: auto 0 -0.5rem 0;
}

.picture {
    height: 25px;
    width: 25px;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}